.header {
    &__nav {
        padding: 20px 0;
        &-container {
            @extend .container;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            @include media(767px){
                flex-direction: column;
                gap: 30px;

            }
        }
        &-logo {
            display: flex;
            gap: 20px;
            align-items: center;
            & span {
                font-size: 25px;
                line-height: 30px;
                text-transform: uppercase;
                font-weight: $Bold;
                color: $blue;
            }
        }
        &-search {
            display: flex;
            align-items: center;
            gap: 25px;
            @include media(767px){
                gap: 10px;
            }
        }
        &-input {
            background: rgba(71, 147, 255, 0.2);
            border-radius: 10px;
            font-size: 16px;
            line-height: 20px;
            font-weight: $Medium;
            padding: 9px 20px;
            color: #000000;
        }
    }
}